
.wrapper_1 {
 border-right: 2px #8E8E8E dashed;

 } 
.card-box{
background: #FFFFFF;
border: 1px solid #DDDDDD;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding-bottom: inherit;
}
.profile_img{
height: 85px;
width: 85px;
border-radius: 42.5px;
display: flex;
justify-content: center;
}
.penbtn{
position: relative;
width: 23px;
height: 23px;
background: #DDDDDD;
border: 1px solid #DDDDDD;
border-radius: 24px;
}
.pen{
position: absolute;
color: #8E8E8E;
font-size: 11px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}