
.wrapper_1 {
 border-right: 2px #8E8E8E dashed;

}
.media-icon{
    margin-left: 55px;
}

@media (max-width: 1024px) and (min-width: 768px)  {
    .media-icon{
    margin-left: 110px;
}
}

@media (max-width: 768px) and (min-width: 749px)  {
    .media-icon{
    margin-left: 40px;
}

}
@media (max-width: 562px) and (min-width: 425px)  {
    .media-icon{
    margin-left: 15px;
}
}
@media (max-width: 562px) and (min-width: 32px)  {
    .media-icon{
    margin-left: 245px;
    margin-top: auto;
} 
 }
.card-box{
background: #FFFFFF;
border: 1px solid #DDDDDD;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding-bottom: inherit;
}
.profile_img{
height: 85px;
width: 85px;
border-radius: 42.5px;
display: flex;
justify-content: center;
}
.penbtn{
position: relative;
width: 23px;
height: 23px;
background: #DDDDDD;
border: 1px solid #DDDDDD;
border-radius: 24px;
}
.pen{
position: absolute;
color: #8E8E8E;
font-size: 11px;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}