.form{
background:#A1A1A1 ;
height:100vh;
}
.form-body{
border-radius: 6px;
}
.form-input{
background: linear-gradient(0deg, #E1E1E1, #E1E1E1),
linear-gradient(0deg, #FBFBFB, #FBFBFB);

border-radius:5px;
}
.form-btn{
background:linear-gradient(50deg,#FF9B44,#FC6075);
color: white;
}