
@font-face {
  font-family: "Black";
  src: local("CircularStd-Black"),
  url("./fonts/CircularStd-Black.otf")
  format("woff")
}

@font-face {
  font-family: "Medium";
  src: local("CircularStd-Medium"),
  url("./fonts/CircularStd-Medium.otf")
  format("woff")
}
@font-face {
  font-family: "Bold";
  src: local("CircularStd-Bold"),
  url("./fonts/CircularStd-Bold.otf")
  format("woff")
}
@font-face {
  font-family: "Book";
  src: local("CircularStd-Book"),
  url("./fonts/CircularStd-Book.otf")
  format("woff")
}
.h1black{
  font-family: "Black";
  font-size: 26px;
  color: black;
}
.h1bold{
font-family: "Bold";
 font-size: 26px;
font-weight: 450;
line-height: 31px;
  color: black;
}
.h1book{
  font-family: "Book";
  font-size: 26px;
  color: black;

}
.h1medium{
  font-family: "Medium";
  font-size: 26px;
  color: black;

}
.h2black{
  font-family: "Black";
  font-size: 24px;
  color: black;
}
.h2bold{
  font-family: "Bold";
  font-size: 24px;
  color: black;

}
.h2book{
  font-family: "Book";
  font-size: 24px;
  color: black;

}
.h2medium{
  font-family: "Medium";
  font-size: 24px;
  color: black;

}
.h3black{
  font-family: "Black";
  font-size: 22px;
  color: black;
}
.h3bold{
  font-family: "Bold";
  font-size: 22px;
  color: black;

}
.h3book{
  font-family: "Book";
  font-size: 22px;
  color: black;

}
.h3medium{
  font-family: "Medium";
  font-size: 22px;
  color: black;

}
.b1black{
  font-family: "Black";
  font-size: 20px;
  color: black;
}
.b1bold{
  font-family: "Bold";
  font-size: 20px;
  color: black;
  line-height: 24px;
}
.b1book{
  font-family: "Book";
  font-size: 20px;
  color: black;

}
.b1medium{
  font-family: "Medium";
  font-size: 20px;
  color: black;

}
.b2black{
  font-family: "Black";
  font-size: 18px;
  color: black;
}
.b2bold{
  font-family: "Bold";
  font-size: 18px;
  color: black;

}
.b2book{
  font-family: "Book";
  font-size:18px;
  color: black;
 line-height: 16.8px; 
}
.b2medium{
  font-family: "Medium";
  font-size: 18px;
  color: black;

}
.b3black{
  font-family: "Black";
  font-size: 16px;
  color: black;
}
.b3bold{
  font-family: "Bold";
  font-size: 16px;
  color: black;

}
.b3book{
  font-family: "Book";
  font-size:16px;
  color: black;

}
.b3medium{
  font-family: "Medium";
  font-size: 16px;
  color: black;

}
.c1black{
  font-family: "Black";
  font-size: 15px;
  color: black;
}
.c1bold{
  font-family: "Bold";
  font-size: 15px;
  color: black;

}
.c1book{
  font-family: "Book";
  font-size:15px;
  line-height: 22px;
  color: black;

}
.c1medium{
  font-family: "Medium";
  font-size: 15px;
  color: black;

}
.c2black{
  font-family: "Black";
  font-size: 14px;
  color: black;
}
.c2bold{
  font-family: "Bold";
  font-size: 14px;
  line-height: 24px;
  color: black;

}
.c2book{
  font-family: "Book";
  line-height: 22px;
  font-size:14px;
  color: black;

}
.c2medium{
  font-family: "Medium";
  line-height: 16.8px;
  font-size: 14px;
  color: black;

}
.c3black{
  font-family: "Black";
  font-size: 12px;
  color: black;
}
.c3bold{
  font-family: "Bold";
  font-size: 12px;
  color: black;

}
.c3book{
  font-family: "Book";
  font-size:12px;
  color: black;

}
.c3medium{
  font-family: "Medium";
  font-size: 12px;
  color: black;

}
.text-gry{
  color: #8E8E8E;
}
.text-content{
  color: #333333;

}
.mute-gry{
  color: #DDDDDD;

}
.card-img-head-width{
font-weight: 450;
line-height: 22px;
letter-spacing: 0em;
}
.card-img-subhead{
font-size: 13px;
font-weight: 450;
line-height: 20px;
letter-spacing: 0em;
}
.text-blue{
  color: #0D6EFD;
;
}